---
import type { FavoriteItem } from '../data';
import { getSlug } from '../utils/getSlug';
import { getTransitionName } from '../utils/getTransitionName';

export type Props = FavoriteItem;

const { title, image } = Astro.props;

const { transitionNameImage, transitionNameTitle } = getTransitionName(title);
---

<li class="link-card">
	<a href={`/${getSlug(title)}`}>
		<h2 transition:name={transitionNameTitle}>{title}</h2>
		<img transition:name={transitionNameImage} src={`/products/${image}`} alt={title}>
	</a>
</li>

<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 0.15rem;
		background-color: white;
		background-image: var(--accent-gradient);
		background-size: 400%;
		border-radius: 0.5rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}

	.link-card > a {
		text-decoration: none;
		line-height: 1.4;
		padding: 1rem 1.3rem;
		border-radius: 0.35rem;
		color: #111;
		background-color: white;
		opacity: 0.8;

		width: 100%;
		display: grid;
		justify-items: center;
		gap: 10px;
		box-sizing: border-box;
	}
	h2 {
		width: 100%;
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	img {
		max-height: 128px;
		max-width: 100%;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: var(--accent);
	}
</style>
